workflows1/19Mu3c66Jk3rpDSh.json
{
  "updatedAt": "2026-02-13T18:52:32.106Z",
  "createdAt": "2026-02-13T10:55:13.932Z",
  "id": "19Mu3c66Jk3rpDSh",
  "name": "Tabela itens Imperador",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "1a5120ca-ebdb-428e-9548-67e2fe0818b3",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1824,
        224
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "Products",
        "options": {}
      },
      "id": "7420a0ca-5b89-4f37-850f-f3e02df72144",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1136,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6b61778d-02b9-4026-9dfc-ffae5d586a5a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -720,
        224
      ]
    },
    {
      "parameters": {},
      "id": "89e4672d-0f5e-4469-a2b6-592309a2b08d",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        144,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9344de60-879f-43b2-8110-128a313a3c2a",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c981b7ab-55e9-4458-abde-216c65789524",
              "name": "url_tray",
              "value": "=www.imperadordoslustres.com.br/web_api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fdc5c81f-6abb-4ca9-b6ae-110966a8f969",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Dados').first().json.url_tray }}/auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Charset",
              "value": "utf-8"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "consumer_key",
              "value": "7275d28a8d58ccf0bfd06b5da45a4a9d9f382944605eaa47c493746333a08c0f"
            },
            {
              "name": "consumer_secret",
              "value": "37735205a24d753fe94a61c7f7ec426b0cb8d3a82d04207032af26f785b9c8f5"
            },
            {
              "name": "code",
              "value": "07f1e0cca7a37385f87b57ebd9c4c6406b5649ef67e5eddc8fbd7f1fd22375fb"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "0fb03059-cf4e-4569-ae3d-9b4b7e70e7de",
      "name": "Token Tray",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        224
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://{{ $('Dados').first().json.url_tray }}/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Token Tray').first().json.access_token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  },
                  {
                    "name": "limit",
                    "value": "50"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": "={{ Math.ceil($response.body.paging.total / $response.body.paging.limit) }}",
              "requestInterval": {}
            }
          }
        }
      },
      "id": "48cf2b71-2139-4af7-b2de-5f706eb2c811",
      "name": "Consulta Produtos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        224
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $('Dados').first().json.url_tray }}/products/7",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Token Tray').first().json.access_token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "efba6188-8d16-4841-a969-93af7ec055f1",
      "name": "Consulta Produto Por ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        320
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -960,
        224
      ],
      "id": "d25018e3-4d97-434f-9652-9e2659ae02ff",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9e8bd93-fc64-46ef-878d-13adcc56ffe2",
              "name": "id",
              "value": "={{ $json.Product.id }}",
              "type": "string"
            },
            {
              "id": "1314d292-caa2-4ffd-ae07-b42b114bb9eb",
              "name": "nome",
              "value": "={{ $json.Product.name }}",
              "type": "string"
            },
            {
              "id": "e5960d79-ef8c-433c-ba1a-85167572ba9f",
              "name": "descricao",
              "value": "={{ $json.Product.description.replace(/<[^>]*>/g, \"\").replace(/\\n/g, \"\").trim() }}",
              "type": "string"
            },
            {
              "id": "4b0a5c65-9635-43a3-8bfa-2f8543f981da",
              "name": "preco",
              "value": "={{ $json.Product.price }}",
              "type": "string"
            },
            {
              "id": "1464b50f-78e1-4b82-8b88-95ddf6b22852",
              "name": "modelo",
              "value": "={{ $json.Product.model }}",
              "type": "string"
            },
            {
              "id": "4f985411-8d23-41e2-8712-2540f5393379",
              "name": "weight",
              "value": "={{ $json.Product.weight }}",
              "type": "string"
            },
            {
              "id": "12185d95-63c2-476c-8cc8-e560b8453788",
              "name": "length",
              "value": "={{ $json.Product.length }}",
              "type": "string"
            },
            {
              "id": "40ded1dc-f819-4cd3-b0ae-38922d6f93bb",
              "name": "width",
              "value": "={{ $json.Product.width }}",
              "type": "string"
            },
            {
              "id": "d0e7ec89-2862-47ac-ab80-3d9dc7b765d9",
              "name": "height",
              "value": "={{ $json.Product.height }}",
              "type": "string"
            },
            {
              "id": "8a75ace0-4cbd-4897-be81-9a2a88cfdf68",
              "name": "referencia",
              "value": "={{ $json.Product.reference }}",
              "type": "string"
            },
            {
              "id": "340457d0-64e0-4227-aded-d68ae89df66a",
              "name": "url",
              "value": "={{ $json.Product.url.https }}",
              "type": "string"
            },
            {
              "id": "a726f371-cd59-4d86-8f70-4ecb2538bb34",
              "name": "url_video",
              "value": "={{ $json.Product.video }}",
              "type": "string"
            },
            {
              "id": "cf7982ad-e7b0-453b-9fa8-0d5a1d4d795d",
              "name": "meta_description",
              "value": "={{ $json.Product.metatag[0].content }}",
              "type": "string"
            },
            {
              "id": "68239a28-46c7-4dab-a0d4-48e0f2b3ecf5",
              "name": "meta_keywords",
              "value": "={{ $json.Product.metatag[1].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        320
      ],
      "id": "66bd61cf-17d8-4d79-918d-eaa10919c60b",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consulta Produto Por ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Token Tray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Tray": {
      "main": [
        [
          {
            "node": "Consulta Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Produtos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Produto Por ID": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f1ea05cc-3275-411d-b75c-512004386573",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-13T10:55:13.932Z",
      "createdAt": "2026-02-13T10:55:13.932Z",
      "role": "workflow:owner",
      "workflowId": "19Mu3c66Jk3rpDSh",
      "projectId": "C5aD6UPns470KPiT",
      "project": {
        "updatedAt": "2026-02-18T10:56:45.246Z",
        "createdAt": "2026-02-12T20:28:11.259Z",
        "id": "C5aD6UPns470KPiT",
        "name": "Ramon Duarte <ramon26player@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "03aed1aa-1435-40b4-9d79-a70ab09e1ab8"
      }
    }
  ]
}