workflows1/6EWMlWNm0HslO7yn.json
{
  "createdAt": "2024-11-22T17:26:45.911Z",
  "updatedAt": "2024-11-22T19:44:05.252Z",
  "id": "6EWMlWNm0HslO7yn",
  "name": "Comparador",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "b59d1dfb-479d-4350-9280-d66b23a24b5d",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c2292b9-8765-4888-9fba-261a4f524176",
              "name": "codes",
              "value": "000010 13340 10378 10337 10372 10373 10374 10375 10376 10377 1253 14380 14381 14382 14383 14384 14385 14386 14387 14388 14389 14370 14371 14372 14373 14374 14375 14376 14377 14378 14379 14400 14401 14402 14403 14404 14405 14406 14407 14408 14409 16864 16865 16866 16867 16868 16869 16870 16871 16872 16873 16854 16855 16857 16858 16859 16856 16860 16861 16862 16863 16449 16736 13666 2053 1855 13885 13866 13935 14115 14116 14133 14916 5344 13967 14042 10399 6426 2346 9362 13289 13865 9563 16750 9564 9565 10943 1377 3108 733 736 6919 737 4528 14056 14264 14778 13568 13566 15737 8674 8680 10747 14465 14723 6819 1716 10267 5046 2623 15926 15730 5465 5658 1654 5905 6473 6188 6189 10987 10985 10984 5311 13949 13950 13948 14467 13209 5041 17147 17148 17149 17150 17151 17152 17153 14677 14680 14715 14106 14679 17154 17168 14107 17169 14883 17173 17174 17175 17170 17171 17172 17176 12371 3168 16493 6653 6654 6655 12435 16842 15342 13146 11492 6181 6537 9674 12974 1770 10911 10110 13915 10931 13912 13914 8697 6556 11332 16083 13822 13381 13382 13300 11770 8100 10517 10519 10528 10901 196 202 14324 4672 4673 4667 8408 14339 9557 5166 10789 10050 11068 10699 1012 6251 9840 9834 9839 9833 3070 9829 9828 2006 26 9846 9850 16498 13571 12456 13297 6133 567 10875 10934 5492 10873 8541 898 16488 16489 14289 14290 14291 14294 2206 5349 9256 4379 9259 9604 5651 6222 3594 9608 9609 9611 9612 9610 10668 10670 10665 16615 16617 13642 16618 6779 14321 14810 15604 15605 9280 12827 12826 12863 13351 16533 16534 16215 15332 16090 16425 16426 16532 296 16737 16738 7623 9591 9592 9597 8825 3380 3156 8284 10013 1222 7425 892 888 13844 15275 13026 12606 16484 5084 5380 13482 9988 12726 1647 16743 16742 16744 15267 16608 13143 16088 16087 16089 1942 272 5351 7534 271 4164 15886 4514 11060 11062 2918 361 362 356 15256 1515 10635 6688 6140 5446 13367 16740 16741 14031 14030 14048 14049 4932 10824 15558 15559 17501 636 17494 8664 16616 734 4460 10271 10272 10273 13396 12973 16307 12878 12877 1959 9276 5710 9275 9856 4335 9857 9858 9859 9860 9862 9864 11798 16716 11799 9342 17428 13334 13335 13984 13810 13176 15247 15148 15947 16621 17486 1342 3816 17425 2450 16206 16207 16205 14767 14765 14766 14764 14762 14763 4225 5933 4226 1868 1869 14712 14779 14713 14647 14914 1908 14075 15306 12458 6198 17487 4857 10957 191 1416 981 7362 5732 10139 10137 2234 2230 2229 5070 6459 2279 11201 3012 16170 1811 17419 16204 16201 16202 16203 16500 14245 14815 15725 14780 15386 10871 14183 5890 6031 9640 16271 17452 17447 12931 16272 15439 16302 10280 10281 10283 10285 10287 10288 2676 4117 9384 13903 7241 12940 8817 14047 13107 15350 15668 16892 16529 13793 13900 16445 16169 12576 13695 6360 8796 11048 5675 1878 16819 8173 16816 14899 11375 16815 14138 1069 10954 6771 14338 11511 11513 2110 13059 15690 13054 13055 13410 13084 13052 13053 4978 16197 16198 13416 2112 16706 4893 11180 11179 11181 5705 9816 14053 2076 2077 386 9919 8880 13995 11753 1843 1841 15603 1844 15742 15602 9888 11110 9901 9889 4798 9891 9893 8215 8529 8216 5887 16679 16680 4948 17505 1227 6956 8067 17504 5583 16523 4535 3427 3587 3864 5294 5665 3586 3007 2777 3001 3004 3088 3006 3005 2826 3000 2781 3003 2786 2776 2779 2825 2783 3259 3258 3032 2784 4971 6393 6394 6395 6396 3262 3260 3261 5455 9246 8336 9804 11078 10268 16648 11278 11381 11380 11382 15201 13719 9774 2642 3428 2785 7233 6210 6305 3998 9773 1784 10646 8214 4869 12354 5525 5580 16267 16268 16494 16269 16270 16156 16157 16158 16266 16159 16160 16161 16162 16163 16164 16165 16166 16167 4730 3212 3213 11 2644 2778 3008 2782 2780 2824 3346 3031 6544 9247 14618 5850 2773 7853 4763 11403 9239 6644 2641 8346 10644 10066 12415 12416 2921 10788 262 5582 10269 5911 10270 5061 6092 5910 2643 9241 9242 3863 9240 7570 3842 5971 2981 6514 5921 4950 3480 3822 9248 3584 10845 10883 5669 5318 11079 2640 788 14935 16522 16485 14577 10717 7973 4001 4255 12291 2700 2701 13891 11096 15388 15416 12514 15389 13994 13277 15955 14870 15506 15649 13080 15650 14174 2013 15619 13955 13759 14754 15697 14740 14755 13758 13757 11275 13445 12412 13420 16834 16835 11098 11099 14821 14756 14822 5325 5315 3936 1579 13180 14093 14094 14095 13544 5756 10274 299 10275 10276 10277 10278 10155 10152 16850 16851 16852 16844 16845 16847 16853 16848 16849 16846 17444 13831 10787 16663 3286 3290 14638 14869 12779 14705 15744 14706 14707 12294 11272 12295 12103 11259 11273 12613 6350 6507 9110 9122 9114 2203 9120 4198 10846 13823 4373 16305 16310 16311 9807 4331 9809 6641 1157 8474 14747 4098 12822 16424 11863 7155 12505 15391 15392 15393 8702 10619 10621 10681 15617 15637 15638 15618 15622 15623 12618 12619 12621 13628 839 6910 8942 8943 7947 7946 13305 16192 13954 13301 13303 13216 13214 16444 8616 13847 13846 15452 4175 14269 13940 13218 13988 13986 15502 14589 13320 13321 13322 13307 1223 2942 6892 8159 765 1986 14348 14349 12987 14350 14351 14352 10115 4249 14132 5075 9168 9169 6989 9170 5660 9171 9172 5661 9173 9174 9336 9337 9340 9341 9487 9483 9471 8122 9473 9475 9476 9229 9232 9233 4160 528 534 529 536 531 532 533 6214 7898 7901 7903 8879 6269 11963 11964 14086 14074 15279 16095 16093 16094 16670 16669 16671 16672 15209 15204 16673 15211 15210 16674 15213 15212 16675 7776 8956 8957 6997 3126 4341 4642 6642 15245 8976 17155 17156 17157 17158 17159 17160 17161 17162 14209 14882 17163 14210 17164 17165 14267 17135 17136 17132 17137 17166 17167 17133 17134 17131 17138 17139 17140 17141 17142 17143 17144 17113 17114 17115 17127 17128 17129 17146 14108 17177 17178 14231 14983 17179 16174 17180 14681 13678 14518 15720 14172 14986 17181 17182 17183 17184 17185 17186 17117 14100 14884 17118 14163 16176 14337 14162 17187 17188 15906 17190 14987 17189 17191 17192 17193 17194 17195 17119 17196 14105 17197 15438 14173 17198 17199 17120 17121 14519 14268 17200 17202 17122 14266 17201 17203 17204 17205 17207 17206 17208 17210 17209 17211 16503 14928 14171 13679 14261 15384 17126 14676 15163 14862 17130 15498 17124 15499 17125 14335 14988 14864 14166 16286 15722 16421 16894 13837 13838 13217 7056 2313 2597 2585 8980 4907 6241 2619 8970 9063 9065 9067 7724 13447 15797 12280 12285 12276 11972 17506 13215 5078 13711 14547 14548 14549 14550 14809 12593 14418 16154 1187 13526 1176 1178 4789 1180 1185 13820 9075 7725 9076 9077 7727 13306 8023 8971 8972 17464 12688 14885 14886 13360 14117 16081 13529 16903 12971 15165 12913 14995 13493 14225 17457 16906 16907 16904 16905 17460 16298 16908 16909 16910 17461 17463 14665 11571 16292 16177 17465 14136 16916 16918 16917 17467 16919 16920 16921 16922 16923 16924 16925 16926 16927 16928 16929 16930 16931 16933 16932 11450 12216 16934 16044 16935 13225 16701 16936 16937 16938 16939 16940 16968 16941 16942 16943 16944 16291 16290 16945 16946 16947 16948 16949 16953 16950 16951 16952 17456 16954 14657 16955 12683 16956 16957 12691 16958 16959 16960 16961 16962 16963 16964 16965 16966 16967 16969 15888 17466 16970 17462 17458 14257 16971 15202 17459 16972 16975 16973 16974 16977 16976 16978 16979 16980 16981 16982 16983 15591 7674 960 766 8832 9062 4549 1179 15704 14769 7940 11777 7993 11782 785 9823 9824 9825 14015 14016 4256 8845 6519 8666 8665 8535 8536 8530 9789 12432 9788 5712 5713 12814 9791 9794 9792 4827 7911 7910 9777 4337 8534 9787 16707 15799 13061 15933 3013 1891 9715 15956 15727 15726 17498 4011 5597 12583 5200 13675 12929 5279 4413 14331 12083 14058 12908 10080 10410 2479 12903 16141 13383 13384 13319 5537 3218 6527 16306 14004 13921 14943 14944 11413 4254 4944 9405 9410 7536 10131 6146 14471 2471 12933 951 3707 3431 15671 16732 15672 16521 14029 14028 13878 13879 12482 5252 6037 5946 16714 16836 13308 14881 13309 12861 12752 4440 7370 11163 11164 13932 13895 13290 13464 10710 10708 10709 3593 8632 480 16492 16837 16838 16304 8334 8332 3739 9602 4903 210 13024 8787 8196 211 11157 3801 11767 1829 11351 11152 253 3183 3650 4101 3102 16084 16085 3065 1106 3057 9905 11815 16216 3184 3493 13796 14458",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9bc6b8ef-e1f2-4b51-869d-96f75a7917bc",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "return $json[\"codes\"].split(\" \").map(code => ({ code: code.trim() }));\n"
      },
      "id": "88256a02-bae5-48de-9477-e032525147eb",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c274dbbf-f982-4a91-ba24-acc34e465876",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        360
      ]
    },
    {
      "parameters": {},
      "id": "b065c31f-b2ce-46e7-a373-2ece7a7e0a85",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.adrofecha.com.br/web_api/auth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "consumer_key",
              "value": "9d14d764ffe5f70d23fa444f73693a06f2eb4799357189296586cbbb8e19cc35"
            },
            {
              "name": "consumer_secret",
              "value": "93bcc383eb812785f86486cf885c0a956cf4bc25a192d59192849d8ff83ebb89"
            },
            {
              "name": "code",
              "value": "68d5548ae10aaf7f79cdc04bd02628331a201b9bb02d595e71abbd8bcd3661b4"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1fa79445-524a-46b8-ab36-1651448e3fef",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://www.adrofecha.com.br/web_api/products?access_token={{ $json.acess_token }}&reference={{ $('Loop Over Items').item.json.code }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "6df4c925-bc35-471c-a1d8-4cca1979dd65",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        360
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c981b7ab-55e9-4458-abde-216c65789524",
              "name": "acess_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "713ec20a-6362-497f-8030-b6ca99fad9fe",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c154992d-77fc-4986-9e76-6af6da8e4d4e",
              "leftValue": "={{ $json.Products }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0721631f-978f-49f4-a7e3-6bdc2217b4c4",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2461d5f8-976f-43fe-887e-4b0fb45d6203",
              "name": "codigo",
              "value": "={{ $json.Products[0].Product.reference }}",
              "type": "string"
            },
            {
              "id": "171dc2f9-eb84-4c73-80ae-46abf50330dc",
              "name": "descricao",
              "value": "={{ $json.Products[0].Product.name }}",
              "type": "string"
            },
            {
              "id": "f893120f-7839-4072-b458-75d824527e1b",
              "name": "imagem",
              "value": "={{ $json.Products[0].Product.ProductImage[0].thumbs[\"180\"].https }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "69885bcc-9c8f-4f5f-a4c8-7f92342158d9",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4154a948-054b-406a-979e-718b51954d49",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "443e2d3d-e424-4a25-92a6-808fb38678e9",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4bab59a-3c8c-4e80-9683-f009381409e0",
              "name": "codigo",
              "value": "={{ $json.code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bf66b3d6-b305-40d5-b316-67546bc91c51",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        220
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0808c2a7-a161-44ba-ad4a-ce207245353e",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2024-11-22T17:26:45.911Z",
      "updatedAt": "2024-11-22T17:26:45.911Z",
      "role": "workflow:owner",
      "workflowId": "6EWMlWNm0HslO7yn",
      "projectId": "K9dNCjcSCexf3aBf",
      "project": {
        "createdAt": "2024-10-15T13:38:49.068Z",
        "updatedAt": "2024-10-15T13:43:37.131Z",
        "id": "K9dNCjcSCexf3aBf",
        "name": "Ramon Duarte <ramon26player@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}