workflows1/ANYC7WpdnGAJm6i6.json
{
  "createdAt": "2025-05-28T14:15:45.030Z",
  "updatedAt": "2025-05-28T20:07:33.437Z",
  "id": "ANYC7WpdnGAJm6i6",
  "name": "Resumo Conversa",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        -140
      ],
      "id": "33756729-2da6-4f18-8ab9-abfe98be64bf",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://chat.rdmon.com/api/v1/accounts/1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "resolved"
            },
            {
              "name": "inbox_id",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "HAz2r3gaGdZ4WriV2cWnPhuf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        -140
      ],
      "id": "556890df-5497-459a-b3ae-1d39dcfac9d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb2719e4-9cfb-4709-b826-e3503154925d",
              "leftValue": "={{ $json.last_activity_at * 1000 }}",
              "rightValue": "={{ new Date('2025-04-20T00:00:00Z').getTime() }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        260,
        -140
      ],
      "id": "4c80d1fc-2cd9-46c3-a0d7-d8667fec5932",
      "name": "Filter"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.payload",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        60,
        -140
      ],
      "id": "922cd3a6-274f-4fa1-b2a0-bac59b95f21e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        -140
      ],
      "id": "d1d008bb-65eb-43b0-9ba9-4fae91e0a46f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1940,
        220
      ],
      "id": "73f2edec-2545-4e23-95c2-c2c9bc875586"
    },
    {
      "parameters": {
        "url": "=https://chat.rdmon.com/api/v1/accounts/1/conversations/{{ $json.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "inbox_id",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "HAz2r3gaGdZ4WriV2cWnPhuf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "a259a0fa-5c11-4b0e-ab29-85b72bbd87f3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const mensagens = [];\n\nfor (const item of items) {\n  const payload = item.json.payload || [];\n\n  for (const mensagem of payload) {\n    const texto = mensagem.content?.trim();\n    if (texto) {\n      const remetente = mensagem.sender?.available_name || mensagem.sender?.name || \"Desconhecido\";\n      mensagens.push(`${remetente}: ${texto}`);\n    }\n  }\n}\n\nreturn [{\n  json: {\n    texto: mensagens.join('\\n')\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        0
      ],
      "id": "c0379cd7-ff43-4498-9e29-4073219027e5",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um analista de atendimentos por WhatsApp. Abaixo está a transcrição completa de uma conversa entre um cliente e um atendente.\n\nGere um resumo com os seguintes pontos:\n- Qual era a dúvida ou interesse do cliente?\n- Quais informações foram fornecidas?\n- Há alguma intenção de compra?\n- Outras observações relevantes.\n\nConversa:\n{{ $json.texto }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1240,
        0
      ],
      "id": "a24b5d3d-ef2b-4ae8-a2d5-bcd617a5b7b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        180
      ],
      "id": "c93651f0-695c-40e4-ba00-2fbea1c26cd5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "g75nfi724uNIb6dc",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Loop Over Items').item.json.id.toString() }}",
        "sessionTTL": 3600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1320,
        200
      ],
      "id": "1e821a39-465e-46d9-bac6-7f6fa781fba0",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "2Uu2MbBra4m90DUJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.rdmon.com/api/v1/accounts/1/conversations/{{ $('Loop Over Items').item.json.id.toString() }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "HAz2r3gaGdZ4WriV2cWnPhuf"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        0
      ],
      "id": "4f332ffd-f72f-4fee-b870-bc8708a752d8",
      "name": "Envia Resumo"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        -140
      ],
      "id": "bda67c0b-c00a-454d-a220-9aa166b9d8fa",
      "name": "Limit"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Envia Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Envia Resumo": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7bde4872-ba89-4b69-add6-4fb20f0fe290",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-05-28T14:15:45.030Z",
      "updatedAt": "2025-05-28T14:15:45.030Z",
      "role": "workflow:owner",
      "workflowId": "ANYC7WpdnGAJm6i6",
      "projectId": "K9dNCjcSCexf3aBf",
      "project": {
        "createdAt": "2024-10-15T13:38:49.068Z",
        "updatedAt": "2024-10-15T13:43:37.131Z",
        "id": "K9dNCjcSCexf3aBf",
        "name": "Ramon Duarte <ramon26player@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}