workflows1/hkBROkZrqOrZIBDi.json
{
  "updatedAt": "2026-02-13T11:04:51.324Z",
  "createdAt": "2026-02-13T10:59:09.015Z",
  "id": "hkBROkZrqOrZIBDi",
  "name": "AGENTE SDR",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "# ✨ Fluxo de Conversação do Agente (Envio e Reset de Mensagens)\n\nEste fluxo recebe as mensagens agregadas do usuário, injeta o histórico de conversa em memória Redis, envia o conteúdo para o agente LangChain (GPT-4o-mini) com prompt e contexto, captura a resposta gerada, publica-a de volta no Chatwoot e limpa o buffer de mensagens no Redis.\n\n1. 💬 **contentMesssage**  \n   - Atribui a variável `content` com todas as mensagens agregadas (`$('messageAgregated').item.json.messageUser`).\n2. 🧠 **memoryConversation**  \n   - Carrega ou inicializa a memória da conversa em Redis, usando `sessionKey` customizado (TTL de 900 s) para manter o contexto.\n3. 🤖 **modelConversation**  \n   - Seleciona o modelo **gpt-4o-mini** para processar a mensagem no agente.\n4. 🛠 **agentConversation**  \n   - Orquestra a chamada ao agente LangChain: injeta `content`, `memory` e `model`, aplica o prompt definido (regras de funil, tom e formato de saída) e gera o campo `output`.\n5. ✍️ **setOutput**  \n   - Extrai a resposta do agente (`$json.output`) para a variável `output`.\n6. 🌐 **sendChatwootMessage**  \n   - Envia via HTTP POST a resposta ao Chatwoot, em `/api/v1/accounts/:account_id/conversations/:conversation_id/messages` com `message_type=outgoing`.\n7. 🧹 **resetMessageAgregated**  \n   - Deleta a key `inputMessage-[conversation_id]` no Redis, reiniciando o buffer de mensagens para a próxima iteração.\n8. 🏁 **endConversation**  \n   - Encerra o envio da resposta.\n",
        "height": 1020,
        "width": 1140,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5536,
        3520
      ],
      "typeVersion": 1,
      "id": "fa7fc2ba-0438-4389-89ae-c8af4cc0d0d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 🔄 Atualiza dados Baserow\n\nEste fluxo busca um lead no Baserow com base no `conversation_id`, verifica se já existe na tabela, cria um novo registro caso não seja encontrado e, por fim, mescla o objeto de lead resultante para uso nos próximos passos.\n\n1. 🔍 **getBaserowLead**  \n   - Consulta a tabela do Baserow (databaseId 35889, tableId 529224) filtrando pelo campo de `conversation_id` (`field 4405423`) e retorna, no máximo, um registro.\n2. 🤔 **testExist**  \n   - Avalia se o array retornado por **getBaserowLead** está vazio.  \n   - **true** → não encontrou nenhum lead (payload vazio).  \n   - **false** → já existe um lead com esse `conversation_id`.\n3. ➕ **createBaserowLead**  \n   - Quando **testExist** for **true**, cria um novo registro na mesma tabela definindo o campo `4405423` como o `conversation_id` recebido.\n4. 🔗 **appendLead**  \n   - Mescla a saída de **createBaserowLead** (ramo “true”) ou de **getBaserowLead** (ramo “false”) e encaminha o objeto final adiante no fluxo.\n",
        "height": 760,
        "width": 1140,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5536,
        2720
      ],
      "typeVersion": 1,
      "id": "83708fd2-2597-4986-9fea-fb96655a7726",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=inputMessage-{{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id }}",
        "value": "={{ \n  ($json.messageUser || '') \n  + ($json.messageUser ? '\\n' : '') \n  + $('webhookDataChatwoot').item.json.body.conversation.messages[0].content \n}}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4960,
        4160
      ],
      "id": "4996130e-82d4-4ffa-b83f-75bb914de75d",
      "name": "messageInsert",
      "notesInFlow": true,
      "notes": "- insere mensagens na key (inputMessage-conversationid) de forma incremental."
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ String($('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id) }}",
        "value": "={{ $json.currentDate }}",
        "keyType": "string",
        "expire": true,
        "ttl": 600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4560,
        4160
      ],
      "id": "9db3044d-4a70-4edc-a209-d6b2dcbdc254",
      "name": "setCurrentDate",
      "notesInFlow": true,
      "notes": "- Insere a data corrente deste fluxo como valor da chave que será o 'conversationid' do chatwoot.\n\n- Deste modo não há problema o tipo de canal de entrada se é whatsapp, Instagram ou outros."
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "currentDate",
        "key": "={{ String($('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id) }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4752,
        4368
      ],
      "id": "4b2e3974-c4af-45f8-8827-ed7e9955547d",
      "name": "getFutureDate",
      "notesInFlow": true,
      "notes": "Retorna a data futura da key. \n\nSim ela pode ser futura pois durante o WAIT que está configurando antes desse node, o cliente pode ter enviado outra mensagem durante este período de espera"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messageUser",
        "key": "=inputMessage-{{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4752,
        4160
      ],
      "id": "df14333a-636e-474c-b881-f221d1aadb13",
      "name": "getMessage",
      "notesInFlow": true,
      "notes": "- Verifica se há mensagens do cliente na chave (Key)\n- objetivo de pedir esse GET é para incrementar novas mensagens na mesma chave sem perder as antigas."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b50066ef-17e2-4cb5-8447-f3c3f4693521",
              "leftValue": "={{ $('setCurrentDate').item.json.currentDate }}",
              "rightValue": "={{ $json.currentDate }}\n",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f9401897-db5a-4b4a-9c35-87a050ace0b8",
      "name": "confereFutureTime",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        4960,
        4368
      ],
      "notesInFlow": true,
      "notes": "Aqui comparamos se a data da mesma key que pegamos durante o WAIT é mais recente que a data deste fluxo que está rodando agora."
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messageUser",
        "key": "=inputMessage-{{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4352,
        4368
      ],
      "id": "2879caf6-0b84-4272-bbef-2c77b3421200",
      "name": "messageAgregated",
      "notesInFlow": true,
      "notes": "- Retorna as mensagens agregadas"
    },
    {
      "parameters": {
        "content": "## ⚡️ Message deBounce (Agregador de Mensagens)\n\nEste fluxo coleta e agrupa múltiplas mensagens enviadas pelo cliente em um curto intervalo (debounce), armazenando-as incrementamente no Redis e aguardando o tempo configurado antes de liberar o lote de mensagens ao agente. Assim evita-se que o agente seja acionado para cada fragmento de texto e melhora-se a eficiência no atendimento.\n\n1. ⏰ **setDateTime**  \n   - Define a data/hora atual no fuso **America/Sao_Paulo**.\n2. 💾 **setCurrentDate**  \n   - Grava o timestamp atual em Redis na key `<conversation_id>`, com **expire de 600 s**.\n3. 🔍 **getMessage**  \n   - Recupera o valor existente em `inputMessage-<conversation_id>`, para compor mensagens de forma incremental.\n4. ➕ **messageInsert**  \n   - Insere a nova mensagem do usuário em `inputMessage-<conversation_id>`, preservando o histórico anterior.\n5. 📦 **messageAgregated**  \n   - Retorna todas as mensagens agregadas até o momento, antes de entrar no período de wait.\n6. ⏳ **tempoEspera**  \n   - Aguarda o tempo de debounce (definido pela variável `debounce`), para agregar possíveis mensagens subsequentes.\n7. 🔮 **getFutureDate**  \n   - Após o WAIT, lê o novo timestamp armazenado em `<conversation_id>`.\n8. ⚖️ **confereFutureTime**  \n   - Compara o timestamp inicial (de `setCurrentDate`) com o futuro (de `getFutureDate`):  \n     - **Se o timestamp futuro for igual ou posterior**, significa que outra mensagem chegou antes do fim do WAIT → interrompe o fluxo sem limpar as mensagens agregadas.  \n     - Caso contrário, prossegue e libera o batch de mensagens ao agente.\n",
        "height": 1020,
        "width": 1180,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4320,
        3520
      ],
      "typeVersion": 1,
      "id": "cf930767-3235-4506-b8b2-de616e74683b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "amount": "={{ $('setVariables').item.json.debounce }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        4368
      ],
      "id": "1cd1142b-2646-4e7a-9ef1-5b0f0c4191dd",
      "name": "tempoEspera",
      "webhookId": "1da3e712-f30e-4b8a-8d98-ac18fea97639",
      "notesInFlow": true,
      "notes": "Selecione o tempo de deBounce (tempo para agregar mensagens multiplas do cliente dentro de um mesmo espaço de tempo evitando que o agente responda todas as mensagens picotadas do cliente.)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35831818-2b6c-4e05-ba38-d6d1e2bc09ca",
              "name": "content",
              "value": "={{ $('messageAgregated').item.json.messageUser }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5568,
        4112
      ],
      "id": "f230ac74-928c-4f3e-bd59-20a56979c0fd",
      "name": "contentMesssage"
    },
    {
      "parameters": {
        "content": "# 📝 Limpar dados do agente\n\n**Gatilho:** Cliente digita `resetar`\n\nAo receber esse comando, o fluxo realiza uma limpeza completa da sessão e do lead: zera a memória armazenada no Redis, remove o registro do lead no Baserow, envia confirmação ao usuário via Chatwoot, exclui os dados de contato e, por fim, encerra o processo de limpeza.\n\n1. 🧹 **resetRedisMemory**  \n   - Limpa a memória armazenada no Redis para este lead.  \n2. 🔍 **findBaserowLead**  \n   - Localiza a linha do lead no Baserow.  \n3. 🗑️ **deleteBaserowLead**  \n   - Exclui o registro do lead no Baserow.  \n4. 📩 **sendChatwootMsgReset**  \n   - Envia uma mensagem de confirmação ao usuário via Chatwoot.  \n5. 🚫 **removeChatwootContact**  \n   - Remove todos os dados do contato no Chatwoot.  \n6. 🏁 **endCleaningOperation**  \n   - Encerra o processo de limpeza.  \n\n> 💡 Ao final, toda a “memória” do agente é reiniciada e o lead é removido dos sistemas.",
        "height": 760,
        "width": 1180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4320,
        2720
      ],
      "typeVersion": 1,
      "id": "32e000b8-c827-460b-a3d9-32e92cde0b4d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 🎬 Entrada e Tratamentos Iniciais\n\nEste bloco inicial prepara tudo antes de aplicar as regras de negócio: captura o payload do Chatwoot, extrai e organiza os dados-chave em variáveis, descarta mensagens do próprio agente, define parâmetros de contexto (URL base, chave de memória e tempo de debounce) e detecta o comando de “reset” para acionar o fluxo de limpeza.\n\n1. 📬 **webhookDataChatwoot**  \n   - Recebe o payload da mensagem enviada pelo Chatwoot.  \n2. 📝 **payloadResume**  \n   - Organiza e resume os dados principais em variáveis:  \n     - `account_id`  \n     - `conversation_id`  \n     - `inbox_id`  \n     - `content`  \n     - `message_type`  \n     - `contact`  \n3. 🔽 **filterFromMe**  \n   - Filtra apenas mensagens do tipo **incoming**, descartando envios do próprio agente.  \n4. ⚙️ **setVariables**  \n   - Define variáveis de contexto para o fluxo:  \n     - `baseUrl` (URL do Chatwoot) \n     - `memory` (chave de memória no Redis)  \n     - `debounce` (tempo mínimo entre interações)  \n5. 🔍 **messageReset**  \n   - Verifica se o conteúdo da mensagem é `resetar-ia` para acionar o fluxo de limpeza.  \n",
        "height": 1020,
        "width": 1020
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3248,
        3520
      ],
      "typeVersion": 1,
      "id": "9e5e8a28-28ae-4fe2-8c94-d051c1ba3549",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f81a0d1-c831-4ebd-93ab-631631197d8a",
              "name": "account_id",
              "value": "={{ $json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "bfc1fbaa-7bae-4b08-80cd-d85c80c265a6",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "number"
            },
            {
              "id": "b407f7ae-3b85-41c0-ab02-e7a4885fcbce",
              "name": "inbox_id",
              "value": "={{ $json.body.conversation.contact_inbox.inbox_id }}",
              "type": "number"
            },
            {
              "id": "a1148ba9-e2d3-4ff3-a2d8-251f29865841",
              "name": "content",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "364a98b6-8705-44dd-9aab-e87e1cc901e2",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "75d42f45-0e00-4145-bb77-3120ac96a301",
              "name": "contact",
              "value": "={{ $json.body.conversation.meta.sender.removeField(\"additional_attributes\").removeField(\"thumbnail\").removeField(\"identifier\").removeField(\"blocked\").removeField(\"type\") }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3472,
        4192
      ],
      "id": "ab05d8ae-fe78-49fd-afd0-fe1ea593b384",
      "name": "payloadResume"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b5a79c8-a926-4a8c-9ea2-49e6ac21a0f9",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3648,
        4192
      ],
      "id": "c3b9f94d-c549-44b2-b735-59fae41064f8",
      "name": "filterFromMe"
    },
    {
      "parameters": {
        "content": "# 🤝 Gerencia de status e follow-up da jornada do cliente\n\nEste trecho do fluxo injeta o histórico de conversas, executa um chain LLM para identificar o estágio do lead no funil de vendas, aplica correções à resposta, e produz um JSON estruturado com o status e próximos passos para o follow-up.\n\n1. 💾 **memoryChat**  \n   - Usa o nó Redis Chat Memory para recuperar o histórico de conversas do lead (sessionKey personalizado, TTL de 900 s e janela de contexto de 100 mensagens).\n2. 🧠 **chatMemory**  \n   - Consolida e formata os dados de `memoryChat` como memória ativa para o chain LLM.\n3. 🤖 **funnelStageChain**  \n   - Envia ao modelo (gpt-4o-mini) um prompt que define o “Agente Talk”, seus objetivos e etapas do funil, junto com o histórico de mensagens. Habilita um output parser interno.\n4. 🛠️ **outputParser**  \n   - Aplica um “autofixing” na resposta bruta para garantir:\n     - Campos “serviços” em minúsculas, sem sufixo “ api” e “evolution” uniformizado.\n     - Somente incluir interesses e serviços explicitamente mencionados pelo cliente.\n5. 🔄 **modelParser**  \n   - Reenvia a saída corrigida ao modelo (gpt-4.1-mini) usando um prompt de parsing para gerar um JSON válido.\n6. 📦 **structuredOutput**  \n   - Converte o JSON do `modelParser` em um objeto final estruturado conforme o schema desejado (nome, e-mail, interesses, serviços, urgência, etapa_funil, score, etc.).\n\n",
        "height": 1820,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6720,
        2720
      ],
      "typeVersion": 1,
      "id": "4a696878-0848-4235-9c4f-c211a8a91323",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('setVariables').item.json.memory }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4352,
        3264
      ],
      "id": "f7fef635-b8f4-462b-b732-ec123f4e5f64",
      "name": "resetRedisMemory"
    },
    {
      "parameters": {
        "operation": "delete",
        "databaseId": 239291,
        "tableId": 529224,
        "rowId": "={{ $('findBaserowLead').item.json.id }}"
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        4752,
        3264
      ],
      "id": "fe37f7cd-9fcc-4509-804d-b407118a4893",
      "name": "deleteBaserowLead",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('setVariables').item.json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').item.json.account_id }}/contacts/{{ $('payloadResume').item.json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5152,
        3264
      ],
      "id": "ac39434d-c8b0-46a0-aa21-716399de1fcc",
      "name": "removeChatwotContact"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setVariables').item.json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').item.json.account_id }}/conversations/{{ $('payloadResume').item.json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Memória do Agente resetada com sucesso!"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4960,
        3264
      ],
      "id": "0282083a-0041-4696-8bea-0aae7b5d71e1",
      "name": "sendChatwootMsgReset"
    },
    {
      "parameters": {
        "databaseId": 239291,
        "tableId": 568173,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 4405423,
                "value": "={{ $('payloadResume').item.json.conversation_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        4560,
        3264
      ],
      "id": "ec1bd7d1-774f-4b17-9542-65d18cdf45d7",
      "name": "findBaserowLead",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5360,
        3264
      ],
      "id": "e069406e-82df-4a4d-8960-bdaecc1e0e71",
      "name": "endCleaningOperation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a30fce78-af2b-4e89-9b30-83713f6ffe71",
              "leftValue": "={{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].content }}",
              "rightValue": "resetar-ia",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4016,
        4192
      ],
      "id": "a5acb401-6332-479c-bda5-347cd6f2647e",
      "name": "messageReset"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1c39dce1-e4e6-4fd2-b573-a1c4fa23945f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3312,
        4192
      ],
      "id": "9508111c-14fa-4b57-bfab-2d472ab0c57c",
      "name": "webhookDataChatwoot",
      "webhookId": "1c39dce1-e4e6-4fd2-b573-a1c4fa23945f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68ad9904-120b-421e-ad44-49418f0f7a73",
              "name": "baseUrl",
              "value": "https://chat.agenciasynca.com.br",
              "type": "string"
            },
            {
              "id": "30e97a42-d144-469a-82c3-b030ad7305c0",
              "name": "memory",
              "value": "=memory-{{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "0b8eea99-4d4b-4e8c-a16d-a319b04cacc9",
              "name": "debounce",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3840,
        4192
      ],
      "id": "0fdf1a6d-f70b-48c1-b200-641a1c331f3d",
      "name": "setVariables"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('setVariables').first().json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').first().json.account_id }}/contacts/{{ $('payloadResume').first().json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('updateBaserowLead').item.json.nome }}"
            },
            {
              "name": "email",
              "value": "={{ $('updateBaserowLead').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8496,
        3424
      ],
      "id": "8400fda7-6cb0-482e-8970-d6e1470a7ee1",
      "name": "updateChatwootContact"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 239291,
        "tableId": 529224,
        "rowId": "={{ $('appendLead').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4214466,
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": 4214463,
              "fieldValue": "={{ $json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        8272,
        3424
      ],
      "id": "b8c54bad-9ae6-40b5-8d4e-935f9ae0a500",
      "name": "updateBaserowLead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "918e3c88-66f4-483b-9c6c-c790984f6e92",
              "name": "nome",
              "value": "={{ $json.output.nome }}",
              "type": "string"
            },
            {
              "id": "3caf3f92-e7f3-4e69-8a5e-9f824f10949e",
              "name": "email",
              "value": "={{ $json.output['e-mail'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8048,
        3424
      ],
      "id": "69a2c20f-f37f-4ec9-b58c-feb13aa95871",
      "name": "getContactData"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setVariables').first().json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').first().json.account_id }}/conversations/{{ $('payloadResume').first().json.conversation_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $('processAllLabels').item.json.labels }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8256,
        4064
      ],
      "id": "1e36a0c5-6e90-4fcf-bdd2-636cc30fdfe4",
      "name": "updateChatwootLabels"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 239291,
        "tableId": 529224,
        "rowId": "={{ $('appendLead').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4405515,
              "fieldValue": "={{ $json.output.servicos\n     .join(', ')\n     .toLowerCase()          // transforme tudo em minúsculo\n     .normalize('NFD')       // separa letras dos acentos\n     .replace(/\\p{M}/gu, '') // elimina todos os acentos, deixando só as letras\n}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        8048,
        3744
      ],
      "id": "c2abd94a-5816-4bbc-8773-bb32f146d0f3",
      "name": "updateBaserowServices"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 239291,
        "tableId": 529224,
        "rowId": "={{ $('appendLead').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4405519,
              "fieldValue": "={{ $json.output.interesses\n     .join(', ')\n     .toLowerCase()          // transforme tudo em minúsculo\n     .normalize('NFD')       // separa letras dos acentos\n     .replace(/\\p{M}/gu, '') // elimina todos os acentos, deixando só as letras\n}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        8048,
        3584
      ],
      "id": "55c32334-d021-4ecd-9f87-ac5a8bb5b767",
      "name": "updateBaserowInterests"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Puxa labels da conversa\nconst labelsChatwoot = $('webhookDataChatwoot').first().json.body.conversation.labels || [];\n\n// 2. Puxa interesses e serviços do node “Switch”, dentro de output\nconst interesses = $('dataClassifier').first().json.output.interesses || [];\nconst servicos   = $('dataClassifier').first().json.output.servicos    || [];\n\n// 3. Junta tudo num único array\nconst arrayPrincipal = [\n  ...labelsChatwoot,\n  ...interesses,\n  ...servicos,\n];\n\n// 4. Define o que deve ser excluído\nconst arrayExclusao = [\n  \"entrega_realizada\",\n  \"envio_proposta_ou_link\",\n  \"fechado_aguardando_pagamento\",\n  \"follow_up_negociacao\",\n  \"novo_contato\",\n  \"pagamento_confirmado\",\n  \"pos_venda\",\n  \"validacao_qualificacao\"\n];\n\n// 5. Filtra removendo o que está em arrayExclusao\nlet filtrado = arrayPrincipal.filter(item => !arrayExclusao.includes(item));\n\n// 6. Adiciona a etapa atual do funil\nfiltrado.push(\n  $('dataClassifier').first().json.output.etapa_funil\n    .toLowerCase()          // deixa tudo em minúsculo\n    .normalize('NFD')       // separa letras dos acentos\n    .replace(/\\p{M}/gu, '') // remove todos os acentos, deixando só as letras\n);\n\n// 7. Garante valores únicos\nfiltrado = Array.from(new Set(filtrado));\n\n// 8. Grava de volta em labels\n$json.labels = filtrado;\n\nreturn $input.item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8048,
        4064
      ],
      "id": "b5d58b97-3006-4378-8e2b-66917e3ad5b8",
      "name": "processAllLabels"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 239291,
        "tableId": 529224,
        "rowId": "={{ $('appendLead').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4405410,
              "fieldValue": "={{ $json.output.etapa_funil\n     .toLowerCase()          // transforme tudo em minúsculo\n     .normalize('NFD')       // separa letras dos acentos\n     .replace(/\\p{M}/gu, '') // elimina todos os acentos, deixando só as letras\n}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        8048,
        3904
      ],
      "id": "104f6c9c-fe57-40c8-91a6-5bdd5a5159fb",
      "name": "updateBaserowStatus"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.nome.isNotEmpty() && $json.output['e-mail'].isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "e4a03eea-d47b-4b30-bf44-c3c552d3067e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "identificado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c4b7e81-8960-4fd8-8b31-e83a33e8bfd9",
                    "leftValue": "={{ $json.output.interesses }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interesses"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf071cde-2e5d-435d-989f-96a436d8c0a2",
                    "leftValue": "={{ $json.output.servicos }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "servicos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7b1368b-8abe-4c37-9cb5-c039cccb13de",
                    "leftValue": "={{ $json.output.etapa_funil }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "etapa_funil"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5ac6196a-40f9-4e27-8f56-c46eab913688",
                    "leftValue": "={{ $json.output.interesses.isNotEmpty() || $json.output.servicos.isNotEmpty() || $json.output.etapa_funil.isNotEmpty()}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atualiza_tags"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        7776,
        3712
      ],
      "id": "1c5f1f3d-1f78-4f1d-91e4-ffc35d07c6d7",
      "name": "dataClassifier"
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Sao_Paulo"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4352,
        4160
      ],
      "id": "1c43daf9-9868-4014-9954-fcb787c13573",
      "name": "setDateTime"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setVariables').item.json.memory }}",
        "sessionTTL": 900,
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        5888,
        4320
      ],
      "id": "1fb51fcb-bdb6-45ab-a25f-cb3adf484387",
      "name": "memoryConversation"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5712,
        4320
      ],
      "id": "1cb58ad6-9ee4-40d4-9dbe-7b22e53e5709",
      "name": "modelConversation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c8bd00f-f34f-40fe-807f-74787d882d92",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6096,
        4112
      ],
      "id": "9b6dd041-4c65-43af-a333-dff1dd198f14",
      "name": "setOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setVariables').item.json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').item.json.account_id }}/conversations/{{ $('payloadResume').item.json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6288,
        4112
      ],
      "id": "a76d1b0e-43b0-4a5c-a72e-3604f6dfe897",
      "name": "sendChatwootMessage"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=inputMessage-{{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        6096,
        4304
      ],
      "id": "cb5f1b38-2321-4936-a836-0487f7509cb2",
      "name": "resetMessageAgregated"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=agente_whatsapp:\n  nome: \"Agente Talk\"\n  objetivo: \"Classificar leads interessados em serviços de instalação ou consultoria para n8n, Chatwoot, Evolution API e direcionar para o estágio adequado do funil de vendas.\"\n  tom: \"amigável, direto, profissional\"\n  dados_contato: {{ $('payloadResume').item.json.contact.toJsonString() }}\n  modo_de_Atendimento:\n    - seja gentil e proativo\n    - faça apenas umas pergunta por vez\n    - sua primeira interação deve ser ativa já algo como: estamos felizes que vocÊ entrou em contato e estamos dispostos a te ajudar com sua infraestrutura de marketing e vendas.\n  etapas_funil:\n    - nome: \"novo_contato\"\n      gatilhos:\n        - lead inicia conversa\n      ações:\n        - solicitar: nome, e-mail\n        - perguntar: \"Como você nos conheceu?\"\n        - perguntar: \"Você está buscando ajuda com instalação ou consultoria?\"\n      proximo_estagio: \"validacao_qualificacao\"\n\n    - nome: \"validacao_qualificacao\"\n      gatilhos:\n        - lead respondeu interesse inicial\n      ações:\n        - perguntar: \"Qual dos serviços você precisa? (n8n, Chatwoot, Evolution API, Consultoria)\"\n        - perguntar: \"Você já tentou instalar por conta própria?\"\n        - perguntar: \"Já possui um servidor VPS ou domínio próprio?\"\n        - perguntar: \"Esse projeto é urgente?\"\n      critérios_avançar:\n        - lead tem necessidade clara\n        - lead forneceu dados básicos\n        - lead demonstrou intenção de contratação\n      proximo_estagio: \"envio_proposta_ou_link\"\n\n    - nome: \"envio_proposta_ou_link\"\n      gatilhos:\n        - lead qualificado\n      ações:\n        - caso_consultoria: \"Enviar proposta com escopo e valor por hora\"\n        - caso_instalacao: \"Enviar link de contratação com detalhes do serviço\"\n        - orientar: \"Após o pagamento, nossa equipe técnica entra em contato para agendamento\"\n\n    - valores_consultoria:\n        - consultoria_por_hora: \"R$ 250,00\"\n        - pacote_10_horas: \"R$ 2.000,00\"\n        - você primeiro oferece 2 horas de consultoria para diagnóstico e um onborading de como será resolvido, mas o o cliente pode já contratar mais horas se for da vnotade dele.\n    \n      proximo_estagio: \"follow_up_negociacao\"\n\n    - nome: \"follow_up_negociacao\"\n      gatilhos:\n        - proposta enviada mas sem resposta\n      ações:\n        - enviar lembrete amigável\n        - perguntar se há dúvidas técnicas\n        - compartilhar: depoimentos e cases de sucesso\n\n    - nome: \"fechado_aguardando_pagamento\"\n      gatilhos:\n        - lead aceitou proposta mas não pagou\n      ações:\n        - reforçar importância do agendamento\n        - reenviar link de pagamento\n        - solicitar comprovante (se necessário)\n\n    - nome: \"pagamento_confirmado\"\n      gatilhos:\n        - pagamento confirmado\n      ações:\n        - separar por tipo de serviço\n        - criar tarefa técnica ou agendamento\n        - avisar equipe técnica\n\n    - nome: \"entrega_realizada\"\n      gatilhos:\n        - serviço entregue\n      ações:\n        - enviar acesso ou relatório final\n        - perguntar: \"Ficou tudo certo? Podemos usar seu feedback como um case?\"\n        - marcar projeto como concluído\n\n    - nome: \"pos_venda\"\n      gatilhos:\n        - entrega finalizada com sucesso\n      ações:\n        - oferecer manutenção ou plano de suporte\n        - convidar para comunidade\n        - incluir lead na newsletter\n\n  saída_desejada: \n    formato: JSON\n    exemplo:\n      {\n        \"nome\": \"João\",\n        \"telefone\": \"+55 11 99999-9999\",\n        \"interesse\": \"instalação\",\n        \"serviço\": \"Chatwoot\",\n        \"urgência\": \"alta\",\n        \"etapa_funil\": \"envio_proposta_ou_link\",\n        \"resposta\" : \"Olá bom dia tudo bem?\" \n      }\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5760,
        4112
      ],
      "id": "b3766a45-3bd9-46af-b321-d74e9a96a920",
      "name": "agentConversation"
    },
    {
      "parameters": {
        "databaseId": 239291,
        "tableId": 568173,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 4564396,
                "value": "={{ $('payloadResume').item.json.conversation_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        5568,
        3264
      ],
      "id": "98a6bbda-5353-4f20-b5ed-29308d7fd102",
      "name": "getBaserowLead",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04a27288-4ab7-44fb-bfef-adb478190619",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5728,
        3264
      ],
      "id": "e950de99-9e55-43c5-ac0a-68328de9496f",
      "name": "testExist"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 239291,
        "tableId": 568173,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4405423,
              "fieldValue": "={{ $('payloadResume').item.json.conversation_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        6000,
        3152
      ],
      "id": "09f96c11-554a-4976-ac3a-37f3506cf683",
      "name": "createBaserowLead"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        6240,
        3264
      ],
      "id": "a9f5ff21-12e8-4ddb-bd20-bfac635fbe79",
      "name": "appendLead"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        6800,
        3344
      ],
      "id": "6ff0c2ca-583c-41de-a708-6194fca0f0fe",
      "name": "chatMemory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setVariables').first().json.memory }}",
        "sessionTTL": 900,
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        6768,
        3552
      ],
      "id": "b39c86c6-ae57-4571-9760-72f37b5fea68",
      "name": "memoryChat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7136,
        3552
      ],
      "id": "ff0ebe12-a9cd-4647-82b4-a027c03d2bf3",
      "name": "modelChat"
    },
    {
      "parameters": {
        "options": {
          "prompt": "=Instructions:\n- Para o campo \"serviços\": converta tudo para minúsculas, remova o sufixo \" api\" e transforme qualquer variação de \"evolution api\" (ou \"evolution\") em \"evolution\".\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        7248,
        3552
      ],
      "id": "1f4e34a1-c5bc-43b4-b05f-8e6fc2509c19",
      "name": "outputParser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7232,
        3712
      ],
      "id": "294803ee-239d-493e-ae07-3e8c84a07a89",
      "name": "modelParser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"nome\": \"\",\n\"e-mail\": \"\",\n\"interesses\": [\"\"],\n\"servicos\": [\"\"],\n\"urgência\": \"\",\n\"etapa_funil\": \"\",\n\"score\"  : 0\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        7392,
        3712
      ],
      "id": "b0f4255e-1a56-45ff-9fa9-e6d3106ac337",
      "name": "structuredOutput"
    },
    {
      "parameters": {
        "content": "# 🗂️ Sincronização de dados do lead no Baserow e Chatwoot\n\nEste fluxo recebe as saídas do classifier, atualiza os campos do lead no Baserow (nome, e-mail, interesses, serviços e etapa do funil), agrega as labels e, por fim, sincroniza tudo com o contato e a conversa no Chatwoot.\n\n1. 🎯 **dataClassifier**  \n   - Classifica as flags de saída (`identificado`, `interesses`, `servicos`, `etapa_funil`, `atualiza_tags`) a partir do JSON `output`.\n2. ✏️ **getContactData**  \n   - Extrai `output.nome` e `output['e-mail']` para as variáveis `nome` e `email`.\n3. 💾 **updateBaserowLead**  \n   - Atualiza a linha do lead no Baserow (nome e e-mail) usando o `rowId` de `appendLead`.\n4. 🔄 **updateChatwootContact**  \n   - Envia um PUT para o endpoint de contatos do Chatwoot, atualizando nome e e-mail.\n5. 📝 **updateBaserowInterests**  \n   - Atualiza no Baserow o campo “interesses” com o array de interesses (lowercase, separado por vírgula).\n6. 🛠️ **updateBaserowServices**  \n   - Atualiza no Baserow o campo “serviços” com o array de serviços (lowercase, sem sufixo “ api”).\n7. 🚦 **updateBaserowStatus**  \n   - Atualiza no Baserow o campo “status” (etapa_funil) em lowercase.\n8. 🔍 **processAllLabels**  \n   - Agrega as labels da conversa do Chatwoot, interesses e serviços, filtra tags indesejadas, adiciona a etapa atual e gera um array único de labels.\n9. 🔔 **updateChatwootLabels**  \n   - Envia um POST para aplicar as labels processadas na conversa do Chatwoot.\n10. 🏁 **endProcessing**  \n     - Encerra o processamento dos dados do fluxo.\n",
        "height": 1820,
        "width": 1240,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7728,
        2720
      ],
      "typeVersion": 1,
      "id": "a9c0208d-418e-49e1-8fd2-68941ed50ef2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6288,
        4304
      ],
      "id": "399fa9e3-4c74-4b35-9cce-7a8eb1061916",
      "name": "endConversation"
    },
    {
      "parameters": {
        "content": "# 🛠️ Configuração Inicial desse Workflow\nAntes de executar o workflow, preencha as variáveis e credenciais abaixo:\n---\n### 🌐 Variáveis de Ambiente\n- **`baseUrl`**: URL pública da instância Chatwoot  \n  _Ex.:_ `https://chat.seudominio.com`\n- **`memory`**: Prefixo de chave para sessão no Redis  \n  _Ex.:_ `session:[conversation_id]`\n- **`debounce`**: Tempo de debounce em segundos  \n  _Ex.:_ `30`\n\n### 🔗 Webhook Chatwoot\n- **webhookDataChatwoot**  \n\n### 🗄️ Credenciais Redis\n- **Overview / Credentials**\n\n### 📊 Credenciais Baserow\n- **Overview / Credentials**\n\n### 🔐 Credenciais Chatwoot\n- **Overview / Credentials**\n\n### 🧠 Credenciais OpenAI\n- **Overview / Credentials**\n\n### ✍️ Autor / Contato\n- **Nome**: Promovaweb\n- **E-mail**: contato@promovaweb.com\n- **WhatsApp**: +55 (11) 9 7671-5006\n",
        "height": 760,
        "width": 1020,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3248,
        2720
      ],
      "typeVersion": 1,
      "id": "d591c662-1c75-49b8-9661-b1658a8d39f4",
      "name": "Sticky Note9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        8768,
        3744
      ],
      "id": "2105e8f9-8d45-49ed-b54a-c12261ab1646",
      "name": "endProcessing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=agente_whatsapp:\n  nome: \"Agente Talk\"\n  objetivo: \"Classificar leads interessados em serviços de instalação ou consultoria para n8n, Chatwoot, Evolution API e direcionar para o estágio adequado do funil de vendas.\"\n  tom: \"amigável, direto, profissional\"\n  dados_contato: [Execute node ‘payloadResume’ for preview]\n  modo_de_Atendimento:\n    - seja gentil e proativo\n    - faça apenas umas pergunta por vez\n    - sua primeira interação deve ser ativa já algo como: estamos felizes que vocÊ entoru em contato e estamos dispostos a te ajudar com sua infraestrutura de marketing e vendas.\n  etapas_funil:\n    - nome: \"novo_contato\"\n      gatilhos:\n        - lead inicia conversa\n      ações:\n        - solicitar: nome, e-mail\n        - perguntar: \"Como você nos conheceu?\"\n        - perguntar: \"Você está buscando ajuda com instalação ou consultoria?\"\n      proximo_estagio: \"validacao_qualificacao\"\n\n    - nome: \"validacao_qualificacao\"\n      gatilhos:\n        - lead respondeu interesse inicial\n      ações:\n        - perguntar: \"Qual dos serviços você precisa? (n8n, chatwoot, Evolution API, Consultoria)\"\n        - perguntar: \"Você já tentou instalar por conta própria?\"\n        - perguntar: \"Já possui um servidor VPS ou domínio próprio?\"\n        - perguntar: \"Esse projeto é urgente?\"\n      critérios_avançar:\n        - lead tem necessidade clara\n        - lead forneceu dados básicos\n        - lead demonstrou intenção de contratação\n      proximo_estagio: \"envio_proposta_ou_link\"\n\n    - nome: \"envio_proposta_ou_link\"\n      gatilhos:\n        - lead qualificado\n      ações:\n        - caso_consultoria: \"Enviar proposta com escopo e valor por hora\"\n        - caso_instalacao: \"Enviar link de contratação com detalhes do serviço\"\n        - orientar: \"Após o pagamento, nossa equipe técnica entra em contato para agendamento\"\n\n    - valores_consultoria:\n        - consultoria_por_hora: \"R$ 250,00\"\n        - pacote_10_horas: \"R$ 2.000,00\"\n        - você primeiro oferece 2 horas de consultoria para diagnóstico e um onborading de como será resolvido, mas o o cliente pode já contratar mais horas se for da vnotade dele.\n    \n      proximo_estagio: \"follow_up_negociacao\"\n\n    - nome: \"follow_up_negociacao\"\n      gatilhos:\n        - proposta enviada mas sem resposta\n      ações:\n        - enviar lembrete amigável\n        - perguntar se há dúvidas técnicas\n        - compartilhar: depoimentos e cases de sucesso\n\n    - nome: \"fechado_aguardando_pagamento\"\n      gatilhos:\n        - lead aceitou proposta mas não pagou\n      ações:\n        - reforçar importância do agendamento\n        - reenviar link de pagamento\n        - solicitar comprovante (se necessário)\n\n    - nome: \"pagamento_confirmado\"\n      gatilhos:\n        - pagamento confirmado\n      ações:\n        - separar por tipo de serviço\n        - criar tarefa técnica ou agendamento\n        - avisar equipe técnica\n\n    - nome: \"entrega_realizada\"\n      gatilhos:\n        - serviço entregue\n      ações:\n        - enviar acesso ou relatório final\n        - perguntar: \"Ficou tudo certo? Podemos usar seu feedback como um case?\"\n        - marcar projeto como concluído\n\n    - nome: \"pos_venda\"\n      gatilhos:\n        - entrega finalizada com sucesso\n      ações:\n        - oferecer manutenção ou plano de suporte\n        - convidar para comunidade\n        - incluir lead na newsletter\n\n  saída_desejada: \n    formato: JSON\n    exemplo:\n      {\n        \"nome\": \"João\",\n        \"telefone\": \"+55 11 99999-9999\",\n        \"interesse\": \"instalação\",\n        \"serviço\": \"chatwoot\",\n        \"urgência\": \"alta\",\n        \"etapa_funil\": \"envio_proposta_ou_link\",\n        \"resposta\" : \"Olá bom dia tudo bem?\" \n      }\n   instrução extra com relação a saida_Desejada:\n     - quando for montar o array de serviços no caso da 'evolution API' preciso que sempre nunca use o nome comercial \"Evolution API\" e somente use \"evolution\"\n     - o cliente já demonstrou explicitamente o interesse dele? Se é consultoria ou instalação? Se não o array de interesses deve ir vazio. Só deve haver atributos no array interesses se o cliente escolher explicitamente uma opção ou as duas.\n     - o cliente já demonstrou explicitamente os serviços que ele precisa? se ele não falou você não deve pressupor e colocar na saída do array de serviços, serviços dos quais o cliente não mencionou. A saída neste caso deve ser vazia.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.messages.toJsonString() }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        7136,
        3344
      ],
      "id": "ab874f2c-13e4-4195-a9fb-61ef9b3d4afa",
      "name": "funnelStageChain"
    }
  ],
  "connections": {
    "setCurrentDate": {
      "main": [
        [
          {
            "node": "getMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getMessage": {
      "main": [
        [
          {
            "node": "messageInsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messageInsert": {
      "main": [
        [
          {
            "node": "messageAgregated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getFutureDate": {
      "main": [
        [
          {
            "node": "confereFutureTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messageAgregated": {
      "main": [
        [
          {
            "node": "tempoEspera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "confereFutureTime": {
      "main": [
        [
          {
            "node": "getBaserowLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tempoEspera": {
      "main": [
        [
          {
            "node": "getFutureDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contentMesssage": {
      "main": [
        [
          {
            "node": "agentConversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payloadResume": {
      "main": [
        [
          {
            "node": "filterFromMe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filterFromMe": {
      "main": [
        [
          {
            "node": "setVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resetRedisMemory": {
      "main": [
        [
          {
            "node": "findBaserowLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleteBaserowLead": {
      "main": [
        [
          {
            "node": "sendChatwootMsgReset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "removeChatwotContact": {
      "main": [
        [
          {
            "node": "endCleaningOperation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sendChatwootMsgReset": {
      "main": [
        [
          {
            "node": "removeChatwotContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "findBaserowLead": {
      "main": [
        [
          {
            "node": "deleteBaserowLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messageReset": {
      "main": [
        [
          {
            "node": "resetRedisMemory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setDateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhookDataChatwoot": {
      "main": [
        [
          {
            "node": "payloadResume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setVariables": {
      "main": [
        [
          {
            "node": "messageReset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateBaserowLead": {
      "main": [
        [
          {
            "node": "updateChatwootContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getContactData": {
      "main": [
        [
          {
            "node": "updateBaserowLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "processAllLabels": {
      "main": [
        [
          {
            "node": "updateChatwootLabels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateBaserowServices": {
      "main": [
        [
          {
            "node": "endProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateBaserowInterests": {
      "main": [
        [
          {
            "node": "endProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateBaserowStatus": {
      "main": [
        [
          {
            "node": "endProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dataClassifier": {
      "main": [
        [
          {
            "node": "getContactData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "updateBaserowInterests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "updateBaserowServices",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "updateBaserowStatus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "processAllLabels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setDateTime": {
      "main": [
        [
          {
            "node": "setCurrentDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoryConversation": {
      "ai_memory": [
        [
          {
            "node": "agentConversation",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "modelConversation": {
      "ai_languageModel": [
        [
          {
            "node": "agentConversation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setOutput": {
      "main": [
        [
          {
            "node": "sendChatwootMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sendChatwootMessage": {
      "main": [
        [
          {
            "node": "resetMessageAgregated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agentConversation": {
      "main": [
        [
          {
            "node": "setOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getBaserowLead": {
      "main": [
        [
          {
            "node": "testExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "testExist": {
      "main": [
        [
          {
            "node": "createBaserowLead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "appendLead",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "createBaserowLead": {
      "main": [
        [
          {
            "node": "appendLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "appendLead": {
      "main": [
        [
          {
            "node": "chatMemory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatMemory": {
      "main": [
        [
          {
            "node": "funnelStageChain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoryChat": {
      "ai_memory": [
        [
          {
            "node": "chatMemory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "modelChat": {
      "ai_languageModel": [
        [
          {
            "node": "funnelStageChain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "outputParser": {
      "ai_outputParser": [
        [
          {
            "node": "funnelStageChain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "modelParser": {
      "ai_languageModel": [
        [
          {
            "node": "outputParser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "structuredOutput": {
      "ai_outputParser": [
        [
          {
            "node": "outputParser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "resetMessageAgregated": {
      "main": [
        [
          {
            "node": "endConversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateChatwootLabels": {
      "main": [
        [
          {
            "node": "endProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateChatwootContact": {
      "main": [
        [
          {
            "node": "endProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "funnelStageChain": {
      "main": [
        [
          {
            "node": "dataClassifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "webhookDataChatwoot": [
      {
        "json": {
          "headers": {
            "host": "webhooks.agenciasynca.com.br",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "4403",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "5.161.234.171",
            "cf-ipcountry": "US",
            "cf-ray": "947f7fd2e9880a09-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "162.158.79.50",
            "x-forwarded-host": "webhooks.agenciasynca.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3465f15b6c7e",
            "x-real-ip": "162.158.79.50"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 1,
              "name": "Agência Synca"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "n8n, Evolution API e Chatwoot.",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 98,
                "contact_id": 51,
                "inbox_id": 8,
                "source_id": "16f18a45-7428-4f08-b30d-a147812c98f1",
                "created_at": "2025-05-30T15:21:33.923Z",
                "updated_at": "2025-05-30T15:21:33.923Z",
                "hmac_verified": false,
                "pubsub_token": "mvCdX7ibdrMa4f98HnW7Ji4m"
              },
              "id": 52,
              "inbox_id": 8,
              "messages": [
                {
                  "id": 1102,
                  "content": "n8n, Evolution API e Chatwoot.",
                  "account_id": 1,
                  "inbox_id": 8,
                  "conversation_id": 52,
                  "message_type": 0,
                  "created_at": 1748621401,
                  "updated_at": "2025-05-30T16:10:01.952Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:3EB0403D6A8899BE7DE26B",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 51,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "n8n, Evolution API e Chatwoot.",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 1,
                    "last_activity_at": 1748621401,
                    "contact_inbox": {
                      "source_id": "16f18a45-7428-4f08-b30d-a147812c98f1"
                    }
                  },
                  "sender": {
                    "additional_attributes": {},
                    "custom_attributes": {},
                    "email": "eu@edisonmartinsmkt.com.br",
                    "id": 51,
                    "identifier": "557999777712@s.whatsapp.net",
                    "name": "Edison",
                    "phone_number": "+557999777712",
                    "thumbnail": "https://chat.agenciasynca.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBWdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fb127d481a99ce8d2f792404bc1856750a46644c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31a1f63818a5159f71dca8446fe68168fe417ce5/486046254_682389010925031_1927930849538126769_n.jpg",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [
                "instalação",
                "consultoria",
                "n8n",
                "Evolution",
                "validacao_qualificacao"
              ],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": "eu@edisonmartinsmkt.com.br",
                  "id": 51,
                  "identifier": "557999777712@s.whatsapp.net",
                  "name": "Edison",
                  "phone_number": "+557999777712",
                  "thumbnail": "https://chat.agenciasynca.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBWdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fb127d481a99ce8d2f792404bc1856750a46644c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31a1f63818a5159f71dca8446fe68168fe417ce5/486046254_682389010925031_1927930849538126769_n.jpg",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": "2025-05-30T15:21:49.570Z",
              "priority": null,
              "waiting_since": 1748621401,
              "agent_last_seen_at": 1748621385,
              "contact_last_seen_at": 1748621377,
              "last_activity_at": 1748621401,
              "timestamp": 1748621401,
              "created_at": 1748618493,
              "updated_at": 1748621401.980883
            },
            "created_at": "2025-05-30T16:10:01.952Z",
            "id": 1102,
            "inbox": {
              "id": 8,
              "name": "notificacoes"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 1,
                "name": "Agência Synca"
              },
              "additional_attributes": {},
              "avatar": "https://chat.agenciasynca.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBWdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fb127d481a99ce8d2f792404bc1856750a46644c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31a1f63818a5159f71dca8446fe68168fe417ce5/486046254_682389010925031_1927930849538126769_n.jpg",
              "custom_attributes": {},
              "email": "eu@edisonmartinsmkt.com.br",
              "id": 51,
              "identifier": "557999777712@s.whatsapp.net",
              "name": "Edison",
              "phone_number": "+557999777712",
              "thumbnail": "https://chat.agenciasynca.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBWdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fb127d481a99ce8d2f792404bc1856750a46644c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31a1f63818a5159f71dca8446fe68168fe417ce5/486046254_682389010925031_1927930849538126769_n.jpg",
              "blocked": false
            },
            "source_id": "WAID:3EB0403D6A8899BE7DE26B",
            "event": "message_created"
          },
          "webhookUrl": "https://webhooks.agenciasynca.com.br/webhook/1c39dce1-e4e6-4fd2-b573-a1c4fa23945f",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "5be9ec45-54f6-4627-98a9-4387851c7c3b",
  "activeVersionId": null,
  "versionCounter": 28,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-13T10:59:09.015Z",
      "createdAt": "2026-02-13T10:59:09.015Z",
      "role": "workflow:owner",
      "workflowId": "hkBROkZrqOrZIBDi",
      "projectId": "C5aD6UPns470KPiT",
      "project": {
        "updatedAt": "2026-02-18T10:56:45.246Z",
        "createdAt": "2026-02-12T20:28:11.259Z",
        "id": "C5aD6UPns470KPiT",
        "name": "Ramon Duarte <ramon26player@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "03aed1aa-1435-40b4-9d79-a70ab09e1ab8"
      }
    }
  ]
}