workflows1/LVp8fnBtVVWol3wr.json
{
  "createdAt": "2025-08-04T17:48:43.081Z",
  "updatedAt": "2025-08-04T18:41:58.636Z",
  "id": "LVp8fnBtVVWol3wr",
  "name": "Analisa LOG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "curl -s --unix-socket /var/run/docker.sock http://localhost/containers/json?limit=500"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "45b4b629-d280-40f7-bc69-5fa33ab04847",
      "name": "ListaContainers",
      "credentials": {
        "sshPassword": {
          "id": "9KkGsV7UsQH9bqvg",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.stdout = JSON.parse($input.item.json.stdout);\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "f6ce3cc6-cede-4a9d-88e9-ff44ce14ef3d",
      "name": "ProcessaListagem"
    },
    {
      "parameters": {
        "fieldToSplitOut": "stdout",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "003a5a54-a628-46c7-a92e-1bf8c43843b4",
      "name": "TodosContainers"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6824ddda-06ba-4c9a-9d9f-2c442d9f16be",
              "name": "Id",
              "value": "={{ $json.Id }}",
              "type": "string"
            },
            {
              "id": "626f341e-923e-4e7a-bf57-fcc515264452",
              "name": "name",
              "value": "={{ $json.Names[0] }}",
              "type": "string"
            },
            {
              "id": "6e1a8969-cef8-48fb-963d-3a1650a12edb",
              "name": "Image",
              "value": "={{ $json.Image.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "79af3d96-ce0d-4260-bf8b-5cb4f49e3622",
              "name": "State",
              "value": "={{ $json.State }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        0
      ],
      "id": "f92bbdd9-5e71-46bb-a538-8075bf8bd261",
      "name": "ContainersData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "137bf0d4-4851-4d04-9f26-9eaad311a3d9",
              "leftValue": "={{ $json.name }}",
              "rightValue": "n8n",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c039d41b-32b0-41d3-9e86-a21a71460060",
              "leftValue": "={{ $json.name }}",
              "rightValue": "postgres",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "bccf447f-6150-4ffb-80c1-2a8ac057905b",
              "leftValue": "={{ $json.name }}",
              "rightValue": "redis",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        32,
        320
      ],
      "id": "793863d9-1421-44f0-b79a-e0c9e15c0a55",
      "name": "Filter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2448,
        992
      ],
      "id": "1c6fabbc-1a69-48fd-91dd-a210cdf68322",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        352
      ],
      "id": "61d51d33-400d-4156-8501-f1bd276d2096",
      "name": "Container"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.stdout }}",
        "options": {
          "systemMessage": "Você é um experiente analista de Sistemas, que está analizando o log do container do N8N.\n\nVocê deve verificar se existe alguma mensagem de erro ou alerta e retornar a mensagem de erro e uma possível solução para cada item seguindo o formato de Markdown:\n\n## Data da Ocorrência\n## Mensagem de Erro\n## Dica para Ajudar a Resolver o problema\n\n\nSEMPRE responda no formato e o conteúdo DEVE estar em Português do Brasil."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2512,
        720
      ],
      "id": "fce10c31-d508-41e4-9bd6-fcaf348f7281",
      "name": "ProcessaLOG"
    },
    {
      "parameters": {
        "command": "=docker container logs --since=100h {{ $json.Id }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1904,
        352
      ],
      "id": "701dcb91-b640-4c27-b33d-87c362a5fbca",
      "name": "Captura Log",
      "credentials": {
        "sshPassword": {
          "id": "9KkGsV7UsQH9bqvg",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3760,
        1024
      ],
      "id": "3de228e4-7531-443d-bf60-166701910f66",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('ProcessaLOG').item.json.output }}",
        "options": {
          "systemMessage": "=Escreva um único título para a Tarefa com até 6 palavras para o Ticket especificado, se possível encontre algum identificador no corpo do ticket que possa ser usado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3808,
        720
      ],
      "id": "78e316b8-eaf2-4695-9974-76a912126fb5",
      "name": "GeraTítulo"
    },
    {
      "parameters": {
        "command": "=docker inspect {{ $json.Id }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1344,
        352
      ],
      "id": "f3eedf1d-de85-4f7b-9e65-4129a797e509",
      "name": "CapturaContainerInfoRAW",
      "credentials": {
        "sshPassword": {
          "id": "9KkGsV7UsQH9bqvg",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sanitizeJSON = (str) => str.replace(/\\\\(?![\"\\\\/bfnrt])/g, '');\n\nreturn $input.item.json = JSON.parse(sanitizeJSON($input.item.json.stdout))[0];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        352
      ],
      "id": "740e3087-391c-44ad-ac46-a64093175b56",
      "name": "ContainerInfo"
    },
    {
      "parameters": {
        "inputText": "={{ $json.output }}",
        "categories": {
          "categories": [
            {
              "category": "contem_erro",
              "description": "Verifica se a mensagem possui uma mensagem de erro ou alerta de um log"
            }
          ]
        },
        "options": {
          "fallback": "discard"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        2944,
        720
      ],
      "id": "dd3e3d45-024f-4bf9-97fb-30ef9288e103",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2944,
        1008
      ],
      "id": "323b40b9-5de0-4170-a383-1f19ad9194cb",
      "name": "Google Gemini Chat Model2"
    },
    {
      "parameters": {
        "text": "={{ JSON.stringify($('ContainerInfo').item.json.Config.Env) }}",
        "attributes": {
          "attributes": [
            {
              "name": "=n8n_address",
              "description": "Endereço do Host do Editor do N8N",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        3392,
        720
      ],
      "id": "5aba251e-b3bf-4823-a10a-c41cb171e032",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3392,
        1008
      ],
      "id": "b7eac522-6a24-40c9-b6a2-44ab2e0b5f25",
      "name": "Google Gemini Chat Model3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            },
            {
              "triggerAtHour": 11
            },
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d02e52de-9131-4238-9d01-3df698e036c7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        320
      ],
      "id": "16747a98-85c4-4cfe-b6e9-2db333aa52a0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8677cd5b-810c-4457-b3b6-5c3ac53c1c8d",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        352
      ],
      "id": "690293ff-2709-4dce-97b6-53e3d337d97e",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        704,
        352
      ],
      "id": "8f0d875d-b79d-4970-b574-d8ad7fe6dd2c",
      "name": "Wait",
      "webhookId": "fdaec167-3aa9-4c07-ba7a-a4b3d8fd73fa"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2592,
        992
      ],
      "id": "f975b11d-3691-4647-9577-05018a68bc62",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "g75nfi724uNIb6dc",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3072,
        1008
      ],
      "id": "75735c32-118a-444f-9879-db1ae597bb7c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "g75nfi724uNIb6dc",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3504,
        1008
      ],
      "id": "ad9f96c7-73c9-408f-8160-7498c2708a65",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "g75nfi724uNIb6dc",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3888,
        1024
      ],
      "id": "5ad7a20f-f8ce-4e9c-b10e-bf70c793f835",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "g75nfi724uNIb6dc",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9014751659",
        "space": "90143187482",
        "folder": "90145931789",
        "list": "901411354439",
        "name": "={{ $json.output }} / {{ $('Information Extractor').item.json.output.n8n_address }}",
        "additionalFields": {
          "content": "=## Container\n```{{ $('ContainerInfo').item.json.Name }}```\n\n## Criado em\n```{{ $('ContainerInfo').item.json.Created }}```\n\n## Container State\n```json\n {{ JSON.stringify($('ContainerInfo').item.json.State, null, 2) }}\n```\n\n{{ $('ProcessaLOG').item.json.output }}",
          "dueDate": "={{ $today }}",
          "markdownContent": true,
          "priority": 3
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        4240,
        1072
      ],
      "id": "378d7d3b-8a55-479b-92a2-14db68874982",
      "name": "Create a task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "Yl7IHUJm6D6OzaaD",
          "name": "ClickUp account"
        }
      }
    }
  ],
  "connections": {
    "ListaContainers": {
      "main": [
        [
          {
            "node": "ProcessaListagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProcessaListagem": {
      "main": [
        [
          {
            "node": "TodosContainers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TodosContainers": {
      "main": [
        [
          {
            "node": "ContainersData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContainersData": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Container": {
      "main": [
        [
          {
            "node": "CapturaContainerInfoRAW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProcessaLOG": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura Log": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "GeraTítulo": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CapturaContainerInfoRAW": {
      "main": [
        [
          {
            "node": "ContainerInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContainerInfo": {
      "main": [
        [
          {
            "node": "Captura Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "GeraTítulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ListaContainers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ProcessaLOG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ProcessaLOG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "GeraTítulo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7afc4290-df53-405c-ae5d-ab84aa71fb5d",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-08-04T17:48:43.081Z",
      "updatedAt": "2025-08-04T17:48:43.081Z",
      "role": "workflow:owner",
      "workflowId": "LVp8fnBtVVWol3wr",
      "projectId": "K9dNCjcSCexf3aBf",
      "project": {
        "createdAt": "2024-10-15T13:38:49.068Z",
        "updatedAt": "2024-10-15T13:43:37.131Z",
        "id": "K9dNCjcSCexf3aBf",
        "name": "Ramon Duarte <ramon26player@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}