workflows1/nqp7nsd6zdl0Irl0.json
{
  "updatedAt": "2026-02-13T10:58:27.741Z",
  "createdAt": "2026-02-13T10:57:34.486Z",
  "id": "nqp7nsd6zdl0Irl0",
  "name": "Resumo Conversa",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        192
      ],
      "id": "7ae0f4a1-e88f-43ad-9b5f-aa18c831d58f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://chat.rdmon.com/api/v1/accounts/1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "resolved"
            },
            {
              "name": "inbox_id",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "HAz2r3gaGdZ4WriV2cWnPhuf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        192
      ],
      "id": "49bdf425-7b0e-4ef0-b03b-4224f64bc0fb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb2719e4-9cfb-4709-b826-e3503154925d",
              "leftValue": "={{ $json.last_activity_at * 1000 }}",
              "rightValue": "={{ new Date('2025-04-20T00:00:00Z').getTime() }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -720,
        192
      ],
      "id": "e11c21ea-3a81-4e2a-8cd3-333555017ac4",
      "name": "Filter"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.payload",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -928,
        192
      ],
      "id": "15e62b66-68a6-472d-9090-6b42b39e2891",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        192
      ],
      "id": "34939cc2-0737-4032-b89c-cf0a6d9a6448",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        960,
        560
      ],
      "id": "911f6ad1-2d12-4a57-8394-dd064236445c"
    },
    {
      "parameters": {
        "url": "=https://chat.rdmon.com/api/v1/accounts/1/conversations/{{ $json.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "inbox_id",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "HAz2r3gaGdZ4WriV2cWnPhuf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        336
      ],
      "id": "6aead248-2c85-46da-94b9-6de2e70e4636",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const mensagens = [];\n\nfor (const item of items) {\n  const payload = item.json.payload || [];\n\n  for (const mensagem of payload) {\n    const texto = mensagem.content?.trim();\n    if (texto) {\n      const remetente = mensagem.sender?.available_name || mensagem.sender?.name || \"Desconhecido\";\n      mensagens.push(`${remetente}: ${texto}`);\n    }\n  }\n}\n\nreturn [{\n  json: {\n    texto: mensagens.join('\\n')\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        336
      ],
      "id": "695178d2-5483-471b-bd15-f08de9f52c20",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um analista de atendimentos por WhatsApp. Abaixo está a transcrição completa de uma conversa entre um cliente e um atendente.\n\nGere um resumo com os seguintes pontos:\n- Qual era a dúvida ou interesse do cliente?\n- Quais informações foram fornecidas?\n- Há alguma intenção de compra?\n- Outras observações relevantes.\n\nConversa:\n{{ $json.texto }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        272,
        336
      ],
      "id": "35eb1e63-e82b-473d-94f7-5be140f7d579",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        512
      ],
      "id": "979c16d8-a061-43b7-aaea-e54950dadf2c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Loop Over Items').item.json.id.toString() }}",
        "sessionTTL": 3600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        352,
        544
      ],
      "id": "f834f381-6a96-4542-973c-2e38f3edd2d7",
      "name": "Redis Chat Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.rdmon.com/api/v1/accounts/1/conversations/{{ $('Loop Over Items').item.json.id.toString() }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "HAz2r3gaGdZ4WriV2cWnPhuf"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        336
      ],
      "id": "feeb0ebb-f0db-4d5a-99b3-124a2ba21f5a",
      "name": "Envia Resumo"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -496,
        192
      ],
      "id": "50fb0ebf-2b0c-482f-962c-4caf99669a92",
      "name": "Limit"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Envia Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Envia Resumo": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cfc5051a-ec6d-4193-aefc-e4f677bf883b",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-13T10:57:34.486Z",
      "createdAt": "2026-02-13T10:57:34.486Z",
      "role": "workflow:owner",
      "workflowId": "nqp7nsd6zdl0Irl0",
      "projectId": "C5aD6UPns470KPiT",
      "project": {
        "updatedAt": "2026-02-18T10:56:45.246Z",
        "createdAt": "2026-02-12T20:28:11.259Z",
        "id": "C5aD6UPns470KPiT",
        "name": "Ramon Duarte <ramon26player@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "03aed1aa-1435-40b4-9d79-a70ab09e1ab8"
      }
    }
  ]
}