workflows1/VsOssOCa6gXgyTVm.json
{
  "updatedAt": "2026-02-13T11:09:11.657Z",
  "createdAt": "2026-02-13T11:06:39.053Z",
  "id": "VsOssOCa6gXgyTVm",
  "name": "ANALISE DE CONVERSA",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "53a805cb-9914-458f-8734-3dc6280bae9f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1808,
        624
      ],
      "id": "dd8983e1-e5b7-45c9-b7a6-ecda19b635bc",
      "name": "webhookDataChatwoot",
      "webhookId": "53a805cb-9914-458f-8734-3dc6280bae9f"
    },
    {
      "parameters": {
        "url": "={{ $('setVariables').item.json.baseUrl }}/api/v1/accounts/1/conversations/{{ $('webhookDataChatwoot').item.json.body.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        624
      ],
      "id": "74f54183-812d-4fe5-9494-3c8e32b70dad",
      "name": "getMessages"
    },
    {
      "parameters": {
        "fieldToSplitOut": "payload",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2400,
        624
      ],
      "id": "e80e7946-719f-40ac-8edc-62122a963a2d",
      "name": "splitMessages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb1ab9f0-407a-4173-ac1c-40ac31a77001",
              "name": "message.content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "f8164e78-af89-4bc9-a639-5b04fcd523df",
              "name": "message.name",
              "value": "={{ $json.sender.name }}",
              "type": "string"
            },
            {
              "id": "52cd4fa9-0a0b-4248-8f6c-d36815f415b2",
              "name": "message.created_at",
              "value": "={{ $json.created_at }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        624
      ],
      "id": "cfffa1eb-edf0-480a-8db5-78b3b41374ff",
      "name": "payloadResume"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "message",
              "includeEmpty": true,
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        2848,
        624
      ],
      "id": "1c003301-c392-4ca1-9c64-ae6651d192b9",
      "name": "summarizeMessages"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.concatenated_message }}",
        "options": {
          "systemMessage": "=role: Experiente gestor de Customer Success\ninput: |\n  Você receberá a transcrição de uma conversa entre um cliente e um atendente de suporte ou sucesso do cliente.\n  Analise cuidadosamente o conteúdo e extraia as seguintes informações:\n    - Principais pontos discutidos\n    - Quais serviços foram solicitados ou mencionados\n    - Qual foi o tom geral da conversa (ex: amigável, impaciente, confuso, objetivo, etc.)\n    - Se houve algum conflito ou mal-entendido\n    - Quais foram os acertos no atendimento\n    - O que pode ser melhorado na abordagem, tempo de resposta ou clareza\nsteps:\n  - Leia a conversa completa com atenção\n  - Extraia os tópicos centrais discutidos\n  - Identifique se houve solicitações de serviço ou dúvidas relevantes\n  - Avalie o tom de ambos os lados (cliente e atendente)\n  - Aponte qualquer oportunidade de melhoria no atendimento ou no processo identificado durante a conversa.\n  - Registre os próximos passos e quem será responsável por cada um.\n  - Gere um resumo objetivo e organizado em tópicos\nexpectation: |\n  Fornecer um relatório claro e útil sobre a interação, para que a equipe de sucesso do cliente possa aprender com a experiência e fazer melhorias contínuas no atendimento.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3040,
        624
      ],
      "id": "097f558c-5996-4ce4-96b6-74628ac82bc5",
      "name": "agentMessages"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3040,
        816
      ],
      "id": "00d7244e-c5d1-4e58-9e35-a47078936dd4",
      "name": "modelMessages"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setVariables').item.json.baseUrl }}/api/v1/accounts/1/conversations/{{ $('webhookDataChatwoot').item.json.body.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "private",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3408,
        624
      ],
      "id": "9c15c2f5-8868-475c-a618-c3901480e329",
      "name": "sendResumeConversation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68ad9904-120b-421e-ad44-49418f0f7a73",
              "name": "baseUrl",
              "value": "https://chat.rdmon.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        624
      ],
      "id": "97806330-3e6e-4e5e-8a0c-bef9e1d920eb",
      "name": "setVariables"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3600,
        624
      ],
      "id": "40b64c71-cb70-4643-9a3e-8f67014488f2",
      "name": "endProcessing"
    },
    {
      "parameters": {
        "content": "### ⚙️ Configuração Inicial deste Workflow\nAntes de executar o fluxo, confira e preencha as credenciais e variáveis abaixo:\n\n### 🔗 Webhook Chatwoot\n- **webhookDataChatwoot**  \n\n### 🌐 Variáveis de Ambiente\n- **`baseUrl`**: URL pública da instância Chatwoot  \n  _Ex.:_ `https://chat.seudominio.com`\n\n### 🔐 Credenciais Chatwoot\n- **Overview / Credentials**\n\n### 🧠 Credenciais OpenAI\n- **Overview / Credentials**\n\n### ✍️ Autor / Contato\n- **Nome**: Promovaweb\n- **E-mail**: contato@promovaweb.com\n- **WhatsApp**: +55 (11) 9 7671-5006\n",
        "height": 760,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        176
      ],
      "typeVersion": 1,
      "id": "07773574-31af-4195-ba74-6181b865b837",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "### 💬 Entrada e Preparação de Dados\nAqui capturamos e organizamos o payload antes de chamar a LLM:\n\n1. 📥 **webhookDataChatwoot**  \n   Recebe o POST do Chatwoot com o corpo da conversa.  \n2. ⚙️ **setVariables**  \n   Define a variável `baseUrl` usada nas próximas requisições.  \n3. 🌐 **getMessages**  \n   Busca via API todo o histórico de mensagens da conversa.  \n4. 🔀 **splitMessages**  \n   Separa o array `payload` em itens individuais para processamento.  \n5. 📝 **payloadResume**  \n   Mapeia cada item em campos chave:  \n   - `message.content`  \n   - `message.name` (remetente)  \n   - `message.created_at` (timestamp)  \n6. 📄 **summarizeMessages**  \n   Concatena todas as mensagens em um único texto para resumo.  \n",
        "height": 760,
        "width": 1240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        176
      ],
      "typeVersion": 1,
      "id": "5c8c08a4-fbce-4a73-a237-c8cd31c6cefd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### 🤖 Processamento e Envio de Resumo\nNeste bloco a LLM analisa e devolve o relatório:\n\n1. 🤖 **agentMessages** (LangChain Agent)  \n   - Recebe o texto resumido  \n   - Aplica prompt de “gestor de Customer Success”  \n   - Extrai insights e próximos passos  \n\n2. 🧠 **modelMessages** (gpt-4o-mini)  \n   └ Conecta o agente ao modelo OpenAI para gerar a resposta.  \n\n3. 📤 **sendResumeConversation**  \n   Envia de volta ao Chatwoot o relatório gerado (`$json.output`).  \n\n4. ✅ **endProcessing**  \n   NoOp final para encerrar o fluxo.  \n",
        "height": 760,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        176
      ],
      "typeVersion": 1,
      "id": "4909f9ce-e0a8-4947-9d0f-716090b78019",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1808,
        800
      ],
      "id": "de57030f-15c5-4869-8dd9-8efe394d61ca",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "connections": {
    "webhookDataChatwoot": {
      "main": [
        [
          {
            "node": "setVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getMessages": {
      "main": [
        [
          {
            "node": "splitMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "splitMessages": {
      "main": [
        [
          {
            "node": "payloadResume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payloadResume": {
      "main": [
        [
          {
            "node": "summarizeMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summarizeMessages": {
      "main": [
        [
          {
            "node": "agentMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agentMessages": {
      "main": [
        [
          {
            "node": "sendResumeConversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modelMessages": {
      "ai_languageModel": [
        [
          {
            "node": "agentMessages",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setVariables": {
      "main": [
        [
          {
            "node": "getMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sendResumeConversation": {
      "main": [
        [
          {
            "node": "endProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "setVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "38a20ca8-02b7-4fba-9941-34bf82b20a6b",
  "activeVersionId": null,
  "versionCounter": 18,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-13T11:06:39.053Z",
      "createdAt": "2026-02-13T11:06:39.053Z",
      "role": "workflow:owner",
      "workflowId": "VsOssOCa6gXgyTVm",
      "projectId": "C5aD6UPns470KPiT",
      "project": {
        "updatedAt": "2026-02-18T10:56:45.246Z",
        "createdAt": "2026-02-12T20:28:11.259Z",
        "id": "C5aD6UPns470KPiT",
        "name": "Ramon Duarte <ramon26player@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "03aed1aa-1435-40b4-9d79-a70ab09e1ab8"
      }
    }
  ]
}