workflows1/ZMYLLWYTeTZVwYJZ.json
{
  "createdAt": "2026-02-12T19:05:41.403Z",
  "updatedAt": "2026-02-12T19:11:46.499Z",
  "id": "ZMYLLWYTeTZVwYJZ",
  "name": "My workflow 3",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "a83da5fa-711c-477b-9149-873c83f88b65",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        336
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9041c82e-b815-4ace-9511-d7258e8faf9b",
      "name": "Workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        304,
        352
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "a3a28d27-61a0-412c-8e13-ccf667b630ec",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        0,
        352
      ],
      "webhookId": "154226ae-b163-4932-a2f2-12865e621905"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ramonrduarte",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "workflows",
          "mode": "list",
          "cachedResultName": "workflows",
          "cachedResultUrl": "https://github.com/ramonrduarte/workflows"
        },
        "filePath": "=workflows1/{{ $('Workflow').item.json.id }}.json",
        "fileContent": "={{ JSON.stringify($('Workflow').item.json, null, 2) }}",
        "commitMessage": "=Backup Realizado em {{ $now }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "13786f3c-e4af-4eec-bfa6-f7d58e0a3efe",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2544,
        928
      ],
      "webhookId": "9272c509-fefb-4213-8757-ecd4cf3d0b8a",
      "credentials": {
        "githubApi": {
          "id": "tGtFMesddh8thkIg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "command": "n8n export:workflow --backup --output=/home/node/n8n-backups/workflows"
      },
      "id": "dadc43a8-3317-4b04-9f74-afe10925bfa3",
      "name": "ExportarWorkflows",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -1136,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileSelector": "/home/node/n8n-backups/workflows/*.json"
      },
      "id": "06a59264-ce3d-48e8-9756-e8669088b4b0",
      "name": "Read Binary Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "position": [
        -896,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "489e495f-5055-4206-9337-4b06b94aa1be",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        -640,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Configura o Backup dos Workflows ",
        "height": 326.29607250755294,
        "width": 1097.2219381826642
      },
      "id": "2840edec-0f54-4217-8cf4-841653977730",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "4e2b866f-c58a-444b-8428-865a964bd8e8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1776,
        336
      ]
    },
    {
      "parameters": {
        "command": "rm -rf /home/node/n8n-backups/workflows"
      },
      "id": "d49de463-f794-4800-a6c4-402df40a44b2",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1408,
        336
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "ramonrduarte",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "workflows",
          "mode": "list",
          "cachedResultName": "workflows",
          "cachedResultUrl": "https://github.com/ramonrduarte/workflows"
        },
        "filePath": "=workflows1/{{ $('Workflow').item.json.id }}.json",
        "fileContent": "={{ JSON.stringify($('Workflow').item.json, null, 2) }}",
        "commitMessage": "=Backup Realizado em {{ $now }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "048906eb-09dd-4c6d-b085-88a2f3ffd6b9",
      "name": "GitHub1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1840,
        848
      ],
      "webhookId": "e9c9d1be-125e-4be8-a3ba-812cafc3078b",
      "credentials": {
        "githubApi": {
          "id": "tGtFMesddh8thkIg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ramonrduarte",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "workflows",
          "mode": "list",
          "cachedResultName": "workflows",
          "cachedResultUrl": "https://github.com/ramonrduarte/workflows"
        },
        "filePath": "=workflows1/{{ $json.id }}.json",
        "additionalParameters": {}
      },
      "id": "5424a3a4-1878-4aaa-a1c1-a07e3bf697e6",
      "name": "GitHubWorkflow",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        592,
        352
      ],
      "webhookId": "7da2650a-678a-4e3f-bc38-d9391774ef58",
      "credentials": {
        "githubApi": {
          "id": "tGtFMesddh8thkIg",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5e3efab9-af35-47e9-9927-ce03013fd040",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        352
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7040ceef-e2d3-4867-b52e-1e5dd6c8030b",
      "name": "Convert to/from binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        1184,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.updatedAt }}",
              "operation": "notEqual",
              "value2": "={{ $('Workflow').item.json.updatedAt }}"
            }
          ]
        }
      },
      "id": "d9c2f2a5-8a56-45a9-b2b4-aa1b404626df",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        752
      ]
    },
    {
      "parameters": {},
      "id": "1dac77e6-6de0-4649-917a-8822d6920977",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow": {
      "main": [
        [
          {
            "node": "GitHubWorkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExportarWorkflows": {
      "main": [
        [
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary Files": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "ExportarWorkflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHubWorkflow": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to/from binary data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "389f4894-55c7-4477-b911-f983999e0b5f",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2026-02-12T19:05:41.403Z",
      "updatedAt": "2026-02-12T19:05:41.403Z",
      "role": "workflow:owner",
      "workflowId": "ZMYLLWYTeTZVwYJZ",
      "projectId": "K9dNCjcSCexf3aBf",
      "project": {
        "createdAt": "2024-10-15T13:38:49.068Z",
        "updatedAt": "2024-10-15T13:43:37.131Z",
        "id": "K9dNCjcSCexf3aBf",
        "name": "Ramon Duarte <ramon26player@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}